.logonavbar {
    transition: all 0.3s ease-in-out;
    margin: 2px;

    /*siempre va a estar a la izquiera del todo en la pantalla*/
    position: fixed;
    left: 0;
    height: 70;
    width: 70;
    border-radius: 50%;
    /*hacer que no se pueda seleccionar, solamente el contenido*/
    user-select: none;
    cursor: default;
    

}

.logotobalaba{
  /*se muestra siempre en el centro del div*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /*que ocupe el 100% del div*/ 
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;

}

.menu_bar {
  /*es una imagen blanca de un menu de hamburguesa*/
  background-image: url("https://icon-library.com/images/hamburger-icon-white/hamburger-icon-white-16.jpg");
  background-size: cover;
  width: 30px;
  height: auto;
  cursor: pointer;
  margin-right: 20px;
  margin-left: auto; 
  right: 0  !important;
}

.scrolled
{
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 1s ease-in-out;
}
.collapseNavbarCollapse {
    /*este es un navbar negro, , se mostrara en una sola linea y siempre va a estar visible en la parte superior de la pagina*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    user-select: none;
    align-items: center  !important;
    justify-content: center !important;
    
}

.navbar-nav {
    /*se le da un padding a los elementos del navbar*/
    /*cada elemento va a estar a la derecha del anterior*/
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.nav-item {
    font-size: 1.2rem;
    /*siempre se queda en el centro de la pantalla*/
    margin: 0 10px;
    /*se le da un estilo a los elementos del navbar*/
    font-weight: 800;
    color: white;
    
}

.nav-link {
    /*se le da un padding a los elementos del navbar*/
    padding: 0 10px;
    /*se le da un color blanco a los elementos del navbar*/
    color: white;
    /*se le da un estilo a los elementos del navbar*/
    font-weight: 800;
    /*se le da un estilo a los elementos del navbar*/
    text-decoration: none;
    /*se le da un estilo a los elementos del navbar*/
    text-transform: uppercase;
    /*se le da un estilo a los elementos del navbar*/
    letter-spacing: 0.5px;

    

    /*se oculta el borderstyle*/
    border-style: hidden;
}




.nav-link:hover {
    border-style: dotted;
    /*se le da un estilo a los elementos del navbar*/
    background-color: rgba(0, 0, 0, 0.8);
    /*se le aplica blur al fondo*/
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

@media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      backdrop-filter: blur(2px);
      border: 2px;
    }
    .navbar-nav .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .navbar-toggler {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .navbar-collapse {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .nav-item {
      transition: all 0.3s ease-in-out;
      margin: 40px;
      font-size: 1.5rem;
    }
    .collapseNavbarCollapse {
      background-color: rgba(233, 225, 225, 0.8);
      backdrop-filter: blur(2px);
      border: 2px;
      justify-content: end !important;; 
    }
    

    

  }
  
  @media (min-width: 768px) {
    .navbar-nav {
      flex-direction: row;
      /*se agrega blur al fondo*/
      
    }
    .nav-item {
      margin-right: 10px;
      margin-bottom: 0;
      
      
    }
    .navbar-collapse {
      border: none;
    }
    .collapseNavbarCollapse {
      background-color: rgba(233, 225, 225, 0.8);
      backdrop-filter: blur(2px);
      border: 2px;
      justify-content: end;
    }

    /*se desaparecen los elementos del navbar*/
    
  }

  /*cuando el tamanio de pantalla baja de 900px se baja el tamaño de la fuente*/
  @media (max-width: 900px) {
    .nav-item {
      font-size: 1rem;
      transition: ease-in-out 0.3s;
    }
    
  }



  